:root {
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --heading-font-family: "Playfair Display" serif;
  --default-font-family: "Poppins" sans-serif;
}
body {
  font-family: var(--default-font-family);
  background: linear-gradient(
    110.6deg,
    rgb(179, 157, 219) 7%,
    rgb(150, 159, 222) 47.7%,
    rgb(24, 255, 255) 100.6%
  );
  background-size: cover;
  background-repeat: no-repeat;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  font-size: 96px;
  line-height: 1.5;
}
h2 {
  font-size: 64px;
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

.hero {
  text-align: center;
  background: rgb(154, 205, 250);
  padding: 160px 20px;
}
.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #272142;
}
hero h2 {
  font-family: var(--heading-font-family);
  font-weight: normal;
  font-size: 24px;
  line-height: 1.5px;
}

.btn-branding {
  color: var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  color: white;
  padding: 15px 30px;
  border: 1px solid var(--branding-color);
}

.btn {
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
}

.btn-branding-ouline {
  color: var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  border: 1px solid var(--branding-color);
  padding: 15px 30px;
}

.project-description {
  padding: 120px 60px;
}
@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 2px;
  }
  h2 {
    font-size: 44px;
  }
  .hero {
    padding: 80px 20px;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
}
.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
}
.primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

content-container img {
  border-radius: 10mm;
  line-height: 1.5;
  padding: 15px;
}
img-fluid {
  max-width: 100%;
  height: auto;
}

img,
svg {
  vertical-align: middle;
}
